body {
    background-color: darkolivegreen;
    color: beige;
}

h1 {
    text-transform: uppercase;
    font-size: 4.8em;
    line-height: .9;
    font-family: Neuemontreal, sans-serif;
    font-weight: 400;
}

.logo-png {
    width: 100%;
    height: auto;
}

.first-div {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    justify-content: center;
}

.first-diva {
    display: flex;
    width: 100%;
    justify-content: center;
}

.first-divb {
    display: flex;
    width: 100%;
    justify-content: center;
}

.first-divc {
    display: flex;
    width: 100%;
    justify-content: center;
}

.second-div {
    display: flex;
    width: 95%;
    max-width: 1400px;
    max-height: 200px;
}

.second-diva {
    display: flex;
    width: 95%;
    max-width: 1400px;
    max-height: 200px;
    justify-content: flex-end;

}

.second-divb {
    display: flex;
    width: 95%;
    max-width: 1400px;
    max-height: 200px;
    margin-top: 10rem;
}

.second-divc {
    display: flex;
    width: 95%;
    max-width: 1400px;
    max-height: 200px;
    justify-content: flex-end;
    margin-top: 3rem;
}

.third-diva {
    display: inline-flex;
    font-family: Neuemontreal, sans-serif;
    font-size: 1.2em;
    letter-spacing: .04em;
}

.fourth-divc {
    font-family: Neuemontreal, sans-serif;
    display: inline-flex;
}

#current-time {
    font-family: Neuemontreal, sans-serif;
}