body {
    font-family: 'PP Neue Montreal', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    text-transform: uppercase;
    font-size: 4.8em;
    line-height: .9;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

#js-three-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.primary-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#primary-container-1 {
    margin-top: 2.5rem;
    margin-bottom: 7rem;
}

#logo-banner {
    width: 100%;
    height: auto;
}

.secondary-container {
    display: flex;
    width: 95%;
    max-width: 1400px;
    max-height: 200px;
}

#secondary-container-2 {
    justify-content: flex-end;
    margin-bottom: 10rem;
}

#secondary-container-4 {
    justify-content: flex-end;
    margin-top: 3rem;
}

.tertiary-container,
.footer-social {
    display: inline-flex;
}

#tertiary-container-2 {
    font-size: 1.2em;
    letter-spacing: .04em;
}

#footer-social-email {
    margin-left: 1rem;
}

#js-current-time {
    margin-right: auto;
    display: inline-flex;
}