html, body {
    color: white;
    font-family: 'PP Neue Montreal', sans-serif;
    font-size: clamp(0.9em, 2vw, 1.1em);
    margin: 0;
    overflow: hidden;
    padding: 0;
}

h1 {
    font-size: clamp(2.5em, 5vw, 4.8em);
    font-weight: 400;
    line-height: .9;
    text-transform: uppercase;
    word-wrap: break-word;
}

a {
    color: inherit;
    text-decoration: none;
}

#three-js {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.container {
    /* border: solid 1px red; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#header-container {
    margin-bottom: 6vh;
    margin-top: 2vh;    
}

#header-logo {
    max-width: 100%;
}

#header-copyright {
    margin-bottom: .5vh;
}

#description-container {
    font-size: 1.2em;
    justify-content: flex-end;
    letter-spacing: .04em;
}

#description-wrapper {
    color: #575757;
    display: flex;
    flex-direction: column;
}

#copyright-tag {
    margin-bottom: .5em;
}

#heading-wrapper {
    bottom: 10%;
    left: 0;
    position: absolute;
    right: 0;
    top: auto;
}

#footer-container {
    bottom: 0%;
    justify-content: flex-end;
    left: 0;
    margin: 0 auto 2vh;
    position: absolute;
    right: 0;
    top: auto;
}

#current-time-js {
    margin-right: auto;
}

#footer-email-icon {
    margin-left: 1rem;
}